<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27041AC013C3D8DB0072A09A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27BCB59913BC3C4B008196D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27BCB5BD13BC3C4B008196D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27BDF57613C3C31A002712AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27BDF59E13C3C64A002712AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
